<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="erin.castillo.com.ivacuate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".EvacCenter" />
        <activity android:name=".SafetyTips" />
        <activity android:name=".EmerHotlines" />
        <activity android:name=".DisasterEarthquake" />
        <activity android:name=".DisasterFlood" />
        <activity android:name=".DisasterLandslide" />
        <activity android:name=".DisasterVolcanic" />
        <activity android:name=".VolcanicLine" />
        <activity android:name=".Earthline" />
        <activity android:name=".FloodLine" />
        <activity android:name=".LandLine" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".evacCaloo" />
        <activity android:name=".evacManila" />
        <activity android:name=".evacManda" />
        <activity android:name=".evacMakati" />
        <activity android:name=".evacNavotas" />
        <activity android:name=".evacPasay" />
        <activity android:name=".evacSanJuan" />
        <activity android:name=".evacTaguig" />
        <activity android:name=".evacQuezon" />
        <activity android:name=".evacValenzuela" />
        <activity android:name=".laloma" />
        <activity android:name=".manilaCentral" />
        <activity android:name=".ust" />
        <activity android:name=".corazon" />
        <activity android:name=".bangkalhall" />
        <activity android:name=".uMak" />
        <activity android:name=".mandaGym" />
        <activity android:name=".mandaElem" />
        <activity android:name=".navotasElem" />
        <activity android:name=".navotasHigh" />
        <activity android:name=".salapanhall" />
        <activity android:name=".pinaglabanan" />
        <activity android:name=".senator" />
        <activity android:name=".taguigscience" />
        <activity android:name=".cuneta" />
        <activity android:name=".pasaypool" />
        <activity android:name=".stodomingo" />
        <activity android:name=".singtala" />
        <activity android:name=".threescenter" />
        <activity android:name=".parada"></activity>
    </application>

</manifest>